/* show content under the nav-bar */
body {
  padding-top: 3.5rem;
}

/* speed up the navbar menu speed */
.collapsing {
  -webkit-transition: height .1s ease;
       -o-transition: height .1s ease;
          transition: height .1s ease;
}
